/* @theme rinkou */

@import "default";

section {
    font-family: "Meiryo", sans-serif;
    padding: 4%;
    justify-content: start;
    background-color: rgb(255, 255, 255);
}

/* タイトル */
section.title {
    font-size: 28pt;
    text-align: left;
    justify-content: center;
}

section.title h1 {
    color: rgb(32, 32, 32);
    font-size: 44pt;
    text-align: left;
}

/* スライド */
section.slides {
    font-size: 28pt;
    /* padding-right: 5%;
    padding-top: 3%; */
    line-height: 1.3;
}

section.slides h1 {
    font-size: 32pt;
    color: rgb(10, 104, 136);
}

section.slides h2 {
    font-size: 32pt;
    color: rgb(0, 0, 0);
}

section.slides ul {
    padding-top: 1%;
    padding-left: 5%;
}

section.slides ol {
    padding-top: 1%;
}

/* 図 */
figure {
    position: absolute;
    text-align: center;
    height: auto;
    bottom: 7%;
    right: 5%;
}

figcaption {
    font-size: 20pt;
}

/* フッター */
footer {
    position: absolute;
    bottom: 1%;
    display: flex;
    justify-content: center;
    font-size: 16pt;
}

/* ページ番号 */
section::after {
    content: attr(data-marpit-pagination)" / "attr(data-marpit-pagination-total);
    position: absolute;
    bottom: 1%;
    font-size: 16pt;
}
