/* @theme rinkou */

section {
    font-family: "Meiryo", sans-serif;
    font-size: 50px;
    padding: 40px;
    width: 960px;
    height: 720px;
    background-color: rgb(255, 255, 255);
}

/* タイトル */
section.title {
    color: rgb(32, 32, 32);
    font-size: 28pt;
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
}

section.title h1 {
    color: rgb(32, 32, 32);
    font-size: 44pt;
    text-align: left;
}

/* スライド */
section.slides {
    color: rgb(32, 32, 32);
    font-size: 50px;
    margin-left: auto;
}

section.slides h1 {
    font-size: 32pt;
}

section.slides h2 {
    font-size: 50px;
    color: rgb(10, 104, 136);
}

section.slides ul {
    font-size: 28pt;
    line-height: 1.5;
}